/* GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 60%;
    margin: 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
/* FINE GENERALE */

header{
    margin: 20px 0;
}

header img{
    height: 50px;
    border-right: 1px solid lightgray;
    padding-right: 10px;
    margin-bottom: 20px;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    padding-right: 10px;
}

main{
    margin-bottom: 10px;
}

/* contenuto main */
.slider{
    height: 300px;
    margin-bottom: 20px;
    position: relative;

    border-radius: 10px;
    overflow: hidden;
}

.slider img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    inset: 0;
}

.slider .testo{
    color: white;
    position: absolute;
    bottom: 30px;
    left: 30px;

    width: calc(50% - 30px);
}

.slider h1{
    font-weight: 400;

}

.contenuto{
    padding-bottom: 10px;
}

.contenuto .top{
    margin-bottom: 10px;
}

/* parte FLOAT del contenuto */
.bottom .side,.center{
    float: left;
}

.bottom .side{
    width: calc((100% / 4) - 10px);
}

.bottom .center{
    margin: 0 10px;
    width: calc((100% / 4) * 2);
}
/* FINE parte FLOAT del contenuto */


footer{
}

/* spazio debug */
.debug{
    background-color: lightgray;
}

.debug header{
    background-color: sandybrown;
}

.debug main{
    background-color: indigo;
}

.debug .slider{
    background-color: lightgreen;
}

.debug .contenuto{
    background-color: blue;
}

.debug .contenuto .top{
    background-color: lightskyblue;
    height: 50px;
}

.debug .center,.debug .side{
    background-color: lightskyblue;
}

.debug footer{
    background-color: lightcoral;
    height: 50px;
}
/* FINE spazio debug */